<template name="flexSlider">
    <!-- flexslider home-slider -->
    <div class="flexslider home-slider">

        <!-- slides -->
        <ul class="slides">


            <!-- slide 1 -->
            <li>
                <!-- flex-caption -->
                <div class="flex-caption">
                    <!-- caption-animation -->
                    <div class="caption-animation">

                        <!-- caption-1 -->
                        <div class="caption-1">
                            <h1>MELON - HTML5/CSS3 template </h1>
                        </div>
                        <!-- /caption-1 -->

                        <!-- caption-2 -->
                        <div class="caption-2">
                            <h3>Responsive, fast and easy to edit.<i class="fa fa-smile"></i></h3>
                        </div>
                        <!-- /caption-2 -->

                        <!-- caption-3 -->
                        <div class="caption-3">
                            <a href="javascript:void(0)" class="animated1"><i class="fa fa-html5"></i></a>
                            <a href="javascript:void(0)" class="animated2"><i class="fa fa-css3"></i></a>
                            <a href="javascript:void(0)" class="animated3 base-slider-bg-color"><i
                                    class="fa fa-check"></i></a>
                        </div>
                        <!-- /caption-3 -->

                    </div>
                    <!-- /caption-animation -->
                </div>
                <!-- /flex-caption -->
            </li>
            <!-- /slide 1 -->

            <!-- slide 2 -->
            <li>
                <!-- flex-caption -->
                <div class="flex-caption">
                    <!-- caption-animation -->
                    <div class="caption-animation">

                        <!-- caption-1 -->
                        <div class="caption-1">
                            <h1 class="base-slider-bg-color">Do you like it !</h1>
                        </div>
                        <!-- /caption-1 -->

                        <!-- caption-2 -->
                        <div class="caption-2">
                            <h3>Every single line coded with Passion.<i class="fa fa-smile"></i></h3>
                        </div>
                        <!-- /caption-2 -->

                        <!-- caption-3 -->
                        <div class="caption-3">
                            <a href="javascript:void(0)" class="animated1"><i class="fa fa-thumbs-o-up"></i></a>
                            <a href="javascript:void(0)" class="animated2"><i class="fa fa-code"></i></a>
                            <a href="javascript:void(0)" class="animated3"><i class="fa fa-heart-o"></i></a>
                        </div>
                        <!-- /caption-3 -->

                    </div>
                    <!-- /caption-animation -->
                </div>
                <!-- /flex-caption -->
            </li>
            <!-- /slide 2 -->

            <!-- slide 3 -->
            <li>
                <!-- flex-caption -->
                <div class="flex-caption">
                    <!-- caption-animation -->
                    <div class="caption-animation">

                        <!-- caption-1 -->
                        <div class="caption-1">
                            <h1>Do you have any Question !</h1>
                        </div>
                        <!-- /caption-1 -->

                        <!-- caption-2 -->
                        <div class="caption-2">
                            <h3 class="base-slider-bg-color">Don't worry, our support 24h just mail us.<i
                                    class="fa fa-smile"></i></h3>
                        </div>
                        <!-- /caption-2 -->

                        <!-- caption-3 -->
                        <div class="caption-3">
                            <a href="javascript:void(0)" class="animated1"><i class="fa fa-question-circle"></i></a>
                            <a href="javascript:void(0)" class="animated2"><i class="fa fa-meh-o"></i></a>
                            <a href="javascript:void(0)" class="animated3"><i class="fa fa-clock-o"></i></a>
                            <a href="javascript:void(0)" class="animated4"><i class="fa fa-envelope-o"></i></a>
                        </div>
                        <!-- /caption-3 -->

                    </div>
                    <!-- /caption-animation -->
                </div>
                <!-- /flex-caption -->
            </li>
            <!-- /slide 3 -->

        </ul>
        <!-- /slides -->
    </div>
    <!-- /flexslider home-slider -->
</template>